.footerContainer{
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.footerContainer h2{
    font-family: 'Balthazar', serif;
    font-size: 30px;
}

.footerContainer h2:hover{
    color: #ffffff;
}