/* 'empty cart' route=================================== */
.emptyCart{
    height: 65vh;
    width: 90%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
    font-family: 'Balthazar', serif;
}

.emptyCartIcon{
    width: 15%;
}

.emptyCart h3{
    font-family: 'Balthazar', serif;
    font-size: 30px;
}

.emptyCart a{
    color: #7d7aff;
}

.emptyCart a:hover{
    filter: invert(1);
}

/* cart================================================= */

.cartContainer{
    height: 65vh;
    width: 90%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
    overflow: hidden;
}

.cartItemContainer{
    height: 70%;
    width: 30%;
    overflow: scroll;
    position: relative;
    outline: 1px solid #7d7aff;
    padding: 1rem;
    overflow: scroll
}

.cartItemContainer img{
    width: 80%;
}

.checkoutContainer{
    position: fixed;
    z-index: 10;
    width: 100%;
}

.checkoutButton{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #7d7aff;
    color: white;
    text-align: center;
    font-family: 'Balthazar', serif;
    font-size: 20px;
    outline: none;
}

.checkoutButton:hover{  
    filter: invert(1);
    cursor: pointer;
}

/* 'update address'====================================== */

.updateAddresswrapper{
    height: 65vh;
    width: 50%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Balthazar', serif;
}

.addressFormContainer{
    height: 100%;
    width: 60%;
}

/* 'confirm order'========================================================================================== */

.confirmOrderWrapper{
    height: 65vh;
    width: 90%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
    font-family: 'Balthazar', serif;
}
