.homeContainer{
    position: relative;
    height: 55vh;
}

#curve{
    fill: transparent;
}

text{
    font-size: 12.9px;
    font-family: 'Eczar', serif;
}

.pupil{
    opacity: .8;
}

.spot {
    animation: spot 2s linear infinite;

}
        
@keyframes spot{
    from {
        background: white;
        opacity: 1;
    }
    to {
        background: #e67639;
        transform: scale(2,2);
        transform: translate(0);
        opacity: 0;
    }
}