.adminContainer{
    height: 65vh;
    width: 90%;
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
}
