.cartContainer{
    height: 65vh;
    width: 90%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto 0 auto;
}

.cartButtonContainer{
    height: 90%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkoutButton{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #7d7aff;
    color: white;
    font-family: 'Balthazar', serif;
    font-size: 20px;
    margin: 0 1rem 1rem 1rem;
    outline: none;
}

.checkoutButton:hover{  
    filter: invert(1);
    cursor: pointer;
}

.cartContents{
    height: 90%;
    width: 70%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    outline: 1px solid #7d7aff;
}
