/* Login/Register form styles========================================================================== */
.formContainer{
    height: 55vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.userForm{
    width: 80%;
    height: auto;
    font-size: 16px;
    color: #61518f;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label,
form input {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

form label{
    margin: 1rem;
    font-family: 'Balthazar', serif;
}

form input { 
    font-size: 14px;
    font-family: 'Special Elite', cursive;  
    padding: 6px;
    background-color: #e67639;
}

#forgot{
    font-family: 'Balthazar', serif;
    margin: 0 auto;
    margin-top: 1rem;
    color: black;
}

#forgot:hover{
    color: white;
}

.loginButton{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #5fb4ba;
    color: white;
    font-family: 'Balthazar', serif;
    font-size: 16px;
}

.loginButton:hover{
    background-color: #7d7aff;
    color: #e67639;
}

.registerButton{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #7d7aff;
    color: white;
    font-family: 'Balthazar', serif;
    font-size: 18px;
}

.registerButton:hover{
    background-color: #5fb4ba;
    color: #e7c444;
}

/* Goods================================================================================================= */

.goodsContainer{
    height: 55vh;
    width: 90%;
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.thumbMenu{
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.thumbMenuHeader {
    font-family: 'Balthazar', serif;
    margin: 0 auto;
}

.thumbContainer{
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.item{
    width: 18%;
    margin: 1rem;
}

.item img{
    width: 100%;
}

.productDetails{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    /* background-color: #7d7aff; */
    outline: solid 1px #7d7aff;
}

.closeButton{

}

.productTitle{

}

.productImage{
    width: 50%;
    margin: 0 auto;
}

.productImage img{
    width: 100%;
}

.productDescription{

}

.addButton{

}

/* Info========================================================================== */

.infoContainer{
    height: 55vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.infoPic{
    width: 15%;
    margin: 0 auto;
    margin-top: 1rem;
    transform: rotate(-20deg);
}
