/* .Header.js=============================================================== */
.header{
    width: 80vw;
    height: 10vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin: 0 auto;
    margin-top: .5rem;
    background-color: rgba(95,180,186,.15);
    overflow: hidden;
    outline: 1px solid #7d7aff;
}

@media screen and (min-width: 600px) and (max-width: 899px){

}

@media screen and (min-width: 900px){
    .header{
        width: 90vw;
    }
    .header:hover{
        box-shadow: .5px .5px 4px 2px rgba(125,122,255,.5);
    }
}

/* Logo.js================================================================= */

.logoContainer{
    width: fit-content;
}

.logoContainer img{
    width: 30vw;
}

@media screen and (min-width: 600px) and (max-width: 899px){

}

@media screen and (min-width: 900px){
    .logoContainer img{
        width: 16vw;
    }
    
    .logoContainer:hover{
        background-image: url(../../srcAssets/enchanted_splatter_OffRegTrace_orangeGlow.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* Menu.js========================================================================================= */

.menuContainer{
    display: flex;
    align-items: center;
}

.mobileMenuButton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background: #e7c444;
    border: #7d7aff 10px solid;
    outline: none;
}

.mobileMenuButton:active{
    filter: invert(1);
}

.menuItems{
    display: none; 
}

.loginMenu{
    display: none;
}

#slidingMenu{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#e7c444 25%, 50%,#c4d2d7);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    overflow: scroll;
    z-index: 1000;
    text-align: right;
}

.hide{
    transform: translate3d(0, -200vw, 0);
    opacity: 0;
}

.show{
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
    opacity: .9;
}

.mobileMenuItems{
    width: 90%;
    padding: 0;
    margin-top: 70px;
    font-family: 'Balthazar', serif;
    color: #7d7aff;
    font-size: 38px;
}

.mobileMenuContainer{
    position: relative;
}

.mobileMenuItems{
    position: absolute;
}

@media screen and (min-width: 600px) and (max-width: 899px){

}

@media screen and (min-width: 900px){
    .menuItems{
        width: 17vw;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Balthazar', serif;
        font-size: 26px;
    }
    .menuItems a {
        display: flex;
        justify-content: center;
        width: 8vw;
    }

    .mobileMenuButton{
        display: none;
    }

    .loginMenu{
        width: fit-content;
        height: fit-content;
        font-family: 'Balthazar', serif;
        font-size: 16px;
        margin: 0 auto;
        padding: .5rem;
        background-color: #7d7aff;
        display: flex;
    }

    .logRegNav a:hover{
        color: white;
    }

    .link:hover{
        color: white;
    }

}

/* Menu.js END=================================================================== */
