.header{
    width: 90vw;
    height: 10vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin: 0 auto;
    margin-top: .5rem;
    background-color: rgba(95,180,186,.15);
    box-shadow: .5px .5px 4px 2px rgba(125,122,255,.5);
    overflow: hidden;
}

.logoContainer{
    width: 30vw;
}

.logoContainer:hover{
    background-image: url(../../srcAssets/enchanted_splatter_OffRegTrace_orangeGlow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo{
    width: 60%;
}

.menuContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menuIcon{
    width: 4vw;
}

.menuContainer ul{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    font-family: 'Balthazar', serif;
    font-size: 24px;
    margin: 0 auto;
}

.menuContainer li{
    margin: 0 8px 0 8px;
    border-radius: 5px;
}

.link:hover{
    color: white;
}

.pageHeader{
    width: 90vw;
    text-align: left;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0;
}

.pageHeader h1{
    font-family: 'UnifrakturMaguntia', cursive;
    margin-bottom: 0;
    margin-left: 3vw;
}