.infoContainer{
    height: 65vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin: 2rem auto 0 auto;
}

.imageBackdrop{
    width: fit-content;
    text-align: center;
    background-color: #7d7aff;
}

.infoIcon{
    width: 50%;
}
